*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(Images/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Tahoma;
}
.contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    display: flex;
    align-items: center;
    margin-top:5rem;
    margin-left: 6.9rem;
}
#logo p{
    margin-left: 0.6rem;
    color: #004E89;
    font-size: 20px;
    font-weight: 700;
}
#body-content {
    background-color: white;
    min-width:30%;
    margin-top: 5.5rem;
    margin-right: 6.9rem;
    padding: 1.3rem;
    border-radius: 1.3rem;
}
.signin-content h1{
    color: #004E89;
    margin-bottom: 0.6rem;
}
.signin-content p{
    margin-bottom:0.9rem ;
}
span {
    color: #004E89;
    font-weight: 600;
}
.form-content form {
    display: flex;
    gap: 0.6rem;
    flex-direction: column;
}
.form-content input {
    background-color:#F4F6F9;
    padding: 0.6rem;
    border-radius: 0.6rem;
    border: 1px solid #F4F6F9 ;
}
.form-content .button {
    background-color: #004E89;
    color: white;
    margin: 0.9rem 0rem;
}
#signin-options {
    text-align: center;
    margin: 0.6rem;
}
#signin-options .options {
    display: flex;
    justify-content: center;
    gap: 1.9rem;
    margin: 0.9rem 0rem;
}
#signin-options .help {
    color: #004E89;
}